-e git://github.com/christian-bromann/flask.git#egg=Flask
Jinja2==2.7.3
MarkupSafe==0.23
Werkzeug==0.9.6
argparse==1.2.1
click==2.6
itsdangerous==0.24
multiprocessing==2.6.2.1
nose==1.3.3
sauceclient==0.1.0
selenium==2.42.1
stevedore==0.15
virtualenv==1.11.6
virtualenv-clone==0.2.5
virtualenvwrapper==4.3
wsgiref==0.1.2
