-e git+git@github.com:christian-bromann/flask.git@1d55b8983efdc840b83ae6ccc4e496165010c8d1#egg=Flask-origin/HEAD
Jinja2==2.7.3
MarkupSafe==0.23
Werkzeug==0.9.6
argparse==1.2.1
click==2.6
itsdangerous==0.24
stevedore==0.15
virtualenv==1.11.6
virtualenv-clone==0.2.5
virtualenvwrapper==4.3
wsgiref==0.1.2
